# Turn mod_rewrite on
RewriteEngine On


Header add Access-Control-Allow-Headers "Content-Type,Authorization"
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ apitest.php?/$1 [L,QSA]
